html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    color: #fff;
    background: linear-gradient(-45deg,#c188d7, #ffc6fb, #A6E9C6, #FFF3AD ,#00feff, #e49eff);
    background-size: 400% 400%;
    animation: gradientAnim 15s ease infinite;
}

@keyframes gradientAnim {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#snowfall-wrapper {
    /*overflow: auto;*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.flake-small, .flake-big{
    opacity: 0.5;
    color: white;
    background-color: white;
    transition: transform 2s linear,
                opacity 2s cubic-bezier(1,.3,.6,.74);
}

/*ANIMATED UNDERLINE menu items*/
/*h1 {*/
/*font-family: Roboto, sans-serif;*/
/*font-weight: 400;*/
/*font-size: 3rem;*/
/*text-align: center;*/
/*position: absolute;*/
/*top: 40%;*/
/*right: 0;*/
/*left: 0;*/
/*}*/

li > a {
    text-decoration: none;
    color: white;
}

li > a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.8);
    /*transition: -webkit-transform 250ms;*/
    transition: transform 250ms;
    /*transition: transform 250ms, -webkit-transform 250ms;*/
}
li > a:hover::after {
    /*-webkit-transform: translateX(-50%) scaleX(1);*/
    transform: translateX(-50%) scaleX(1);
}
